In [1]:
import pandas as pd

In [2]:
# Read the large csv file
df = pd.read_csv("event_datafile_new.csv")

# Query 1
query1_df = df[(df["userId"]==10) & (df["sessionId"]==182)].sort_values("sessionId")
query1_df[["artist", "song", "firstName", "lastName"]]

,artist,song,firstName,lastName
4704,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
4705,Three Drives,Greece 2000,Sylvie,Cruz
4706,Sebastien Tellier,Kilometer,Sylvie,Cruz
4707,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [5]:
# Query 2
query2_df = df[(df["userId"] == 10) & (df["sessionId"] == 182)]
query2_df[["artist", "song", "firstName", "lastName"]]

,artist,song,firstName,lastName
4704,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
4705,Three Drives,Greece 2000,Sylvie,Cruz
4706,Sebastien Tellier,Kilometer,Sylvie,Cruz
4707,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [3]:
# Query 3
query3_df = df[df['song'] == 'All Hands Against His Own']
query3_df

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
2792,The Black Keys,Tegan,F,25,Levine,196.91057,paid,"Portland-South Portland, ME",611,All Hands Against His Own,80
5135,The Black Keys,Sara,F,31,Johnson,196.91057,paid,"Winston-Salem, NC",152,All Hands Against His Own,95
6298,The Black Keys,Jacqueline,F,50,Lynch,196.91057,paid,"Atlanta-Sandy Springs-Roswell, GA",559,All Hands Against His Own,29

In [7]:
!conda list --export > conda_requirements.txt